{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
{{ trans 'Make your choices' }}
{% endblock %}

{% block content %}
{% if hypo %}
<div class="alert alert-warning" role="alert">
    <h3>{{ trans 'Hypothetical winnings'}}</h3>
    {{ trans 'This round involves hypothetical rewards, meaning that the results of this round will not count towards your final score' }}.
</div>
{% endif %}

{% for index,form_field,p,inverse_p in choices %}
<div class="my-5">
    <h3>{{ trans 'Choice'}} {{ index }}</h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <h4 class="card-header">{{ trans 'Option'}} A</h4>
                <div class="card-body">
                    <p>
                        {{if lang == 'en'}}
                        {{ p }} probability of winning {{lottery_a_hi}} and {{ inverse_p }} of winning {{lottery_a_lo}}
                        {{endif}}
                        {{if lang == 'pt'}}
                        {{ p }} probabilidade de ganhar {{lottery_a_hi }} e {{ inverse_p }} probabilidade de ganhar {{lottery_a_lo}}
                        {{endif}}
                    </p>
                    <div class="form_field d-flex justify-content-center">
                        <input type="radio" name="{{ form_field }}" value="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <h4 class="card-header">{{ trans 'Option'}} B</h4>
                <div class="card-body">
                    <p>
                        {{if lang == 'en'}}
                        {{ p }} probability of winning {{lottery_b_hi}} or {{ inverse_p }} of winning {{lottery_b_lo}}
                        {{endif}}
                        {{if lang == 'pt'}}
                        {{ p }} probabilidade de ganhar {{lottery_b_hi }} e {{ inverse_p }} probabilidade de ganhar {{lottery_b_lo}}
                        {{endif}}
                    </p>
                    <div class="form_field d-flex justify-content-center">
                        <input type="radio" name="{{ form_field }}" value="1" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="d-grid gap-2 d-md-flex justify-content-end mt-4">

    {% next_button %}
</div>

{% endblock %}